.reservations {
    background-color: var(--grey);
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.reservations-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.reservation {
    background-color: var(--default-bg);
    padding: .8rem;
    border-radius: 8px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.buy {
    border: none;
    padding: .5rem;
    justify-self: flex-end;
    margin-left: auto;
    background-color: #22c55e;
    color: var(--default-bg);
    font-weight: 600;
    border-radius: 8px;
    transition: .2s;
}

.buy:hover {
    background-color: #16a34a;
}

.reservation h4 {
    font-weight: 400;
}