
.home{
    background-color: var(--default-bg);
}
header,main {
    padding: 2rem 3rem 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}

.line {
    width: 15vw;
    border: none;
    border-top: 2px solid black;
}

.title {
    text-align: center;
    color: var(--bold);
}

.title h3 {
    font-weight: 300;
}

.grid {
    display: grid;
    grid-template-rows: 10% auto;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    min-height: 50px;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 3rem;
    padding: 0 1rem;
}
.col {
    height: 55vh;
}

.left-col, .right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-col {
    height: 100%;
}


.option {
    background-color: var(--grey);
    border-radius: 17px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    height: 70px;
    transition: .2s;
}

footer {
    background-color: var(--grey2);
    height: 15vh;
}

.option:hover {
    background-color: var(--blue);
    color: var(--default-bg);
    cursor: pointer;
}

.selected {
    background-color: var(--blue);
    color: var(--default-bg);
}

.logout-img {
    transition: .2s;
}

.logout-img:hover {
    transform: scale(1.1);
}

.home-img {
    background: url("../assets/homeimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}